body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    animation: fadeInDown 1s ease-in-out;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.contact-info p {
    margin: 5px 0;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.contact-info p:nth-child(1) {
    animation-delay: 1s;
}

.contact-info p:nth-child(2) {
    animation-delay: 1.5s;
}

.contact-info p:nth-child(3) {
    animation-delay: 2s;
}

.contact-info p:nth-child(4) {
    animation-delay: 2.5s;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 2s;
}

section {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out forwards;
}

section:nth-of-type(1) {
    animation-delay: 2.5s;
}

section:nth-of-type(2) {
    animation-delay: 3s;
}

section:nth-of-type(3) {
    animation-delay: 3.5s;
}

section:nth-of-type(4) {
    animation-delay: 4s;
}

section:nth-of-type(5) {
    animation-delay: 4.5s;
}

section:nth-of-type(6) {
    animation-delay: 5s;
}

section:nth-of-type(7) {
    animation-delay: 5.5s;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.job, .education {
    margin-bottom: 20px;
}

.job h3, .education h3 {
    margin: 0;
    font-size: 1.5em;
}

.job h4, .education span {
    margin: 5px 0;
    font-size: 1.1em;
    color: #555;
}

.job ul, .skills, .projects, .languages, .interests {
    list-style: none;
    padding: 0;
}

.job ul li, .skills li, .projects li, .languages li, .interests li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeInUp 1s ease-in-out;
    animation-delay: 6s;
}

.fas, .fab {
    margin-right: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
